# fly.toml app configuration file generated for sonata-violin on 2026-01-02T17:23:13+07:00
#
# See https://fly.io/docs/reference/configuration/ for information about how to use this file.
#

app = 'sonata-violin'
primary_region = 'sin'

[build]

[http_service]
  internal_port = 8080
  force_https = true
  auto_stop_machines = true
  auto_start_machines = true
  min_machines_running = 0

[mounts]
  source = "uploads"
  destination = "/var/www/html/public/uploads"

[[vm]]
  memory = '256mb'
  cpus = 1
  memory_mb = 256